body{
    background-color:aliceblue;
    border:40px;
    margin:30px
}
h1{
background-color: aliceblue;
text-align:center;

}
h3{
  
    text-align:center
}
h2{
    text-align:left;
    margin-top:10px;
    background-color:rgb(26, 51, 90);
    color:aliceblue
}
header{
    margin:10px
    marg
}